/* COLORS */

:root {
	background-color: #E5E5E5;

	/* Color variables	 */
	--accent: #FF6C00;
	--darker: #303030;
	--dark: #555555;
	--light: #9DA4BD;
	--light-transp: rgba(157, 164, 189, 0.6);
	--price-leader: rgba(157, 164, 189, 0.12);
	--bg-dark: #191C26;
	--bg-light: #F7F7F7;
}

body {
	background-color: #fff;
}

.header .link,
.dark .title,
.dark .button,
.contacts .sup-heading,
.field:hover,
.field:focus,
.field:hover::placeholder,
.field:focus::placeholder {
	color: #fff;
}

.title,
.button,
.name,
.sup-heading,
.link,
.stat,
.follow-us {
	color: var(--darker);
	--current: var(--darker);
}

.section.dark,
.smaller {
	color: var(--dark);
}

.hero,
.footer,
.section.light,
.price-list,
.contacts,
.contacts-list .link {
	color: var(--light);
}

.dark .sup-heading {
	color: var(--light-transp);
	--current: var(--light-transp);
}

.link:hover,
.link:focus,
.position,
.stat-number:after {
	color: var(--accent);
}

.button:hover,
.button:focus {
	color: #fff;
	background: var(--accent);
}

.barbers,
.stat {
	background-color: var(--bg-light);
}

.bg-dark,
.field {
	background-color: var(--bg-dark);
}

.field,
.field::placeholder {
	color: rgba(157, 164, 189, 0.4);
}