/* FLEX */

.flex {
	display: flex;

	&.column {
		flex-direction: column;
	}

	&.space-between {
		justify-content: space-between;
	}

	&.space-around {
		justify-content: space-around;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-end {
		justify-content: end;
	}

	&.align-center {
		align-items: center;
	}

	&.align-end {
		align-items: end;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}

/* Gap values */

:root {
	--standard-gap: 30px;
	--regular-spacing: 20px;
	--large-spacing: 44px;
	--list-spacing: 10px;
}

.flex {
	gap: var(--standard-gap);
}

.regular-spacing {
	gap: var(--regular-spacing);
}

.large-spacing {
	gap: var(--large-spacing);
}

.hero {
	gap: 0;
}

.hero-main {
	gap: 184px;
}

.social-icons {
	gap: 10px;
}

/* Individual rules */

.prefix {
	display: flex;
}

.price-list li {
	display: flex;
	gap: var(--list-spacing);
	align-items: baseline;
}

.price-leader {
	flex-grow: 1;
}