/* FLEX */

.flex,
.prefix {
	display: flex;
}

.column {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: end;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: end;
}

.wrap {
	flex-wrap: wrap;
}

/* Gap values */

.flex {
	gap: 30px;
}

.regular-gap {
	gap: 20px;
}

.large-gap {
	gap: 44px;
}

.hero {
	gap: 0;
}

.hero-main {
	gap: 184px;
}

.social-icons {
	gap: 10px;
}

/* Individual rules */

.price-list li {
	display: flex;
	/* justify-content: space-between; */
	gap: 10px;
}

.price-leader {
	flex-grow: 1;
}