/* body {
	display: flex;
	flex-direction: column;
} */

.flex,
.price-list li {
	display: flex;
	gap: 30px;
}

.column {
	flex-direction: column;
}

.hero {
	gap: 0;
}

.hero-right {
	gap: 184px;
}

.social-icons {
	gap: 10px;
}

.booking,
.booking-form {
	gap: 44px;
}

.space-between,
.price-list li {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.wrap {
	flex-wrap: wrap;
}