/* My CSS Normalize */
:root {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* My rules */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

address {
  font-style: normal;
}

:focus {
  outline: none;
}

/* Color variables */
/* SVG */
/* Flex gap values */
/* Variables for flex-basis calculation */
/* Utility classes */
/* Remove markers in semantic ul's and ol's */
.markup-list {
  list-style: none;
}

/* Flex-boxes */
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-end {
  justify-content: end;
}
.flex.align-center {
  align-items: center;
}
.flex.align-end {
  align-items: end;
}
.flex.align-baseline {
  align-items: baseline;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.regular-gap {
  gap: 30px;
}
.flex.regular-spacing {
  gap: 20px;
}
.flex.large-spacing {
  gap: 44px;
}

/* Other */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

/* Get rid of user-agent-defined spacing after list items and images by changing their display to "block" */
.no-end-spacing {
  display: block;
}

/* For testing */
.outline {
  outline: auto;
}

.frame {
  outline: 1px solid steelblue;
}

/* Colors */
.black {
  color: black;
}

.white {
  color: white;
}

/* Letter case */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* ---------- Common ---------- */
:root {
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  background-color: #fff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.bg-dark {
  background-color: #191C26;
}

.flex {
  gap: 30px;
}

/* ---------- Links ---------- */
.link {
  font-weight: 600;
  font-size: 16px;
  color: #303030;
}
.header .link {
  color: #fff;
}
.contacts-list .link {
  color: #9DA4BD;
}
.link:hover, .link:focus {
  color: #FF6C00;
}

.follow-us {
  color: #303030;
}

.follow-us .link,
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
}

/* ---------- Buttons ---------- */
.button {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  padding: 12px 20px;
  min-width: 160px;
  color: #303030;
}
.button:hover, .button:focus {
  color: #fff;
  background: #FF6C00;
}
.dark .button {
  color: #fff;
}

/* ---------- Headings ---------- */
.title {
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #303030;
}
.dark .title {
  color: #fff;
}

h1.title {
  font-size: 72px;
  line-height: 1.1805555556;
}

h2.title {
  font-size: 42px;
  line-height: 1.1666666667;
}

.sup-heading {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.dark .sup-heading {
  color: rgba(157, 164, 189, 0.6);
}
.contacts .sup-heading {
  color: #fff;
}

/* Thin line before sup-headings and follow-us links in hero sidebar) */
.prefix {
  display: flex;
}
.prefix::before {
  content: "";
  width: 60px;
  margin-right: 20px;
  background: linear-gradient(to right, currentColor, currentColor);
  background-size: 100% 1px;
  background-position: 0% 51%;
  background-repeat: repeat-x;
}

/* ---------- Hero ---------- */
.hero {
  height: 680px;
  gap: 0;
  color: #9DA4BD;
}

/* Hero sidebar */
.hero-sidebar {
  width: 155px;
  padding: 32px 31px 40px 0;
}

.sidebar-content {
  width: 69px;
  height: 100%;
  padding-bottom: 120px;
}

.vertical {
  transform: rotate(-90deg);
}

/* Hero - main/slider */
.hero-main {
  width: 1070px;
  background-image: url("../img/slider/slider-overlay.jpg");
  background-size: cover;
  padding: 40px 17px 40px 100px;
  gap: 184px;
}

/* ---------- Sections other than Hero ---------- */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.dark {
  color: #555555;
}
.section.light {
  color: #9DA4BD;
}
.section.with-overlay {
  padding: 0px;
}

.overlay {
  max-width: 1600px;
  margin: 0 auto;
}

/* ---------- About ---------- */
.description {
  font-size: 14px;
  line-height: 1.8571428571;
  /* Additional margin */
  margin-bottom: 22px;
  color: #555555;
}

/* ---------- Services and prices ---------- */
.overlay-services {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  background-color: #191C26;
  background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../img/services-and-prices.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ---------- Price-list ---------- */
.price-list-wrapper {
  /* https://stackoverflow.com/questions/43726696/splitting-list-of-items-in-two-columns-with-css */
  -moz-columns: 2;
  columns: 2;
  -moz-column-gap: 30px;
       column-gap: 30px;
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%), linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 570px 100%, 570px 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.price-list {
  color: #9DA4BD;
}
.price-list li {
  margin: 0 20px;
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.price-list li:not(:last-child) {
  margin-bottom: 20px;
}

.price-leader {
  background-color: rgba(157, 164, 189, 0.12);
  height: 1px;
  flex-grow: 1;
}

/* ---------- Why us ---------- */
.stat {
  width: 170px;
  height: 133px;
  text-align: center;
  padding: 20px 24px;
  color: #303030;
  background-color: #F7F7F7;
}
.stat:nth-child(odd) {
  margin-top: -30px;
}

.stat-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}
.stat-number:after {
  content: "+";
  font-size: 16px;
  color: #FF6C00;
  vertical-align: top;
}

.stat-name {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
}

/* ---------- Our barbers ---------- */
.barbers {
  background-color: #F7F7F7;
}

.team-card {
  text-align: center;
}

.name {
  line-height: 1.3888888889;
  margin-bottom: 8px;
  color: #303030;
}

.position {
  font-size: 14px;
  line-height: 1.3571428571;
  color: #FF6C00;
}

.social-links {
  margin-top: 30px;
  gap: 10px;
}

/* Social media links */
.social-link {
  color: #303030;
  background-color: #fff;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link:hover, .social-link:focus {
  color: #FF6C00;
}

/* SVG icons */
.icon {
  fill: currentColor;
}
.contacts .icon {
  fill: transparent;
  stroke: currentColor;
}

/* ---------- Contact us ---------- */
.overlay-contacts {
  background-color: #191C26;
  background-image: linear-gradient(rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../img/contacts/bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

.contacts-container {
  padding-top: 130px;
  padding-bottom: 120px;
}

.half-sized {
  width: 50%;
}

/* Left block - Online-booking */
.field {
  font-size: inherit;
  background-color: inherit;
  color: rgba(157, 164, 189, 0.4);
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}
.field::-moz-placeholder {
  color: inherit;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.field:-ms-input-placeholder {
  color: inherit;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.field::placeholder {
  color: inherit;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.field:hover, .field:focus {
  color: #fff;
  border-color: #fff;
}
.field.narrow {
  height: 30px;
  width: 50%;
}
.field.wide {
  height: 76px;
  resize: none;
}

/* Right block - Contacts */
.contacts {
  padding-left: 100px;
  color: #9DA4BD;
}

.contacts-list {
  margin-top: 40px;
  margin-bottom: 70px;
}
.contacts-list li {
  line-height: 1.6666666667;
}

.contacts-list li::marker {
  background-image: url("../img/icons/symbol-defs.svg#icon-map-pin");
}

.contacts-link {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 16px;
}

.address-link {
  font-weight: 700;
}

.email-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/* ---------- Footer ---------- */
.footer {
  padding: 56px 215px;
  color: #9DA4BD;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
}/*# sourceMappingURL=main.css.map */