/* Global values */

:root {
	font-family: "Open Sans", sans-serif;

	/* Color variables	 */
	--accent: #FF6C00;
	--darker: #303030;
	--dark: #555555;
	--light: #9DA4BD;
	--light-transp: rgba(157, 164, 189, 0.6);
	--bg-dark: #191C26;
}

body {
	width: 1600px;
	padding: 55px 131px;
	color: var(--text-dark);
	background-color: #fff;
	font-size: 20px;
	margin: auto;
}

/* Buttons */

.button {
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid #FF6C00;
	border-radius: 25px;
}

.button.dark-bg {
	color: #fff;
}

.button.light-bg {
	color: #303030;
}

.button:hover,
.button:focus {
	color: #fff;
	background: #FF6C00;
}