/* ---------- Global values ---------- */

:root {
	font-family: "Open Sans", sans-serif;
}

body {
	// width: 1600px;
	font-size: 18px;
	line-height: calc(30/18);
	letter-spacing: 0.02em;
	// margin: 0 auto;
}

/* Remove markers in markup ul's: */

.markup-list {
	list-style: none;
}

@import "normalize.scss";
@import "flex.scss";
@import "colors.scss";

/* ---------- Buttons ---------- */

.button {
	letter-spacing: 0.09em;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid var(--accent);
	border-radius: 25px;
	padding: 12px 20px;
	min-width: 160px;
}

/* ---------- Links ---------- */

.link {
	font-weight: 600;
	font-size: 16px;
}

.follow-us .link,
.copyright {
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
	letter-spacing: 0.2em;
}


/* ---------- Headings ---------- */

.title {
	font-family: 'Raleway';
	font-weight: 700;
	letter-spacing: 0.05em;
}

h1.title {
	font-size: 72px;
	line-height: calc(85/72);
}

h2.title {
	font-size: 42px;
	line-height: calc(49/42);
}

.sup-heading {
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
	text-transform: uppercase;
}

/* Prefix (thin line before sup-headings and follow-us links in hero sidebar) */

.prefix::before {
	content: '';
	width: 60px;
	margin-right: 20px;
	background: linear-gradient(to right, var(--current), var(--current));
	background-size: 100% 1px;
	background-position: 0% 55%;
	background-repeat: repeat-x;
}

/* ---------- Hero ---------- */

.hero {
	height: 680px;
}

/* Hero sidebar */

.hero-sidebar {
	width: 155px;
	padding: 32px 31px 40px 0;
}

.sidebar-content {
	width: 69px;
	height: 100%;
	padding-bottom: 120px;
}

.vertical {
	transform: rotate(-90deg);
}

/* Hero - main/slider */

.hero-main {
	width: 1070px;
	background-image: url('../img/slider/slider-overlay.jpg');
	background-size: cover;

	padding: 40px 17px 40px 100px;
}

/* ---------- Sections other than Hero ---------- */

.section {
	// padding: 120px 215px;
	padding-top: 120px;
	padding-bottom: 120px;
}

.section.half-sized {
	padding-top: 130px;
	width: 50%;
}

.container {
	width: (1170px + 15px + 15px);
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* ---------- About ---------- */

.description {
	font-size: 14px;
	line-height: calc(26/14);
	/* Additional margin */
	margin-bottom: calc(42px - 20px);
}

/* ---------- Services and prices ---------- */

.services {
	background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url('../img/services-and-prices.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/* ---------- Price-list ---------- */

.price-list-wrapper {

	/* https://stackoverflow.com/questions/43726696/splitting-list-of-items-in-two-columns-with-css */

	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
	column-gap: 30px;

	background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%), linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
	background-repeat: no-repeat;
	background-position: left, right;
	background-size: 570px 100%, 570px 100%;

	padding-top: 30px;
	padding-bottom: 30px;
}

.price-list {

	& li {
		margin: 0 20px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

/* Underline/leader between service name and price */

.price-leader {
	background: linear-gradient(to right, var(--price-leader), var(--price-leader));
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-position: bottom 6px left;
}

/* ---------- Why us ---------- */

.stat {
	width: 170px;
	height: 133px;
	text-align: center;
	padding: 20px 24px;

	&:nth-child(odd) {
		margin-top: -30px;
	}
}

.stat-number {
	font-weight: 700;
	font-size: 42px;
	line-height: calc(57/42);
	letter-spacing: 0.05em;
	margin-bottom: 6px;

	&:after {
		content: "+";
		font-size: 16px;
		vertical-align: top;
	}
}

.stat-name {
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
}

/* ---------- Our barbers ---------- */

.team-card {
	text-align: center;
}

.name {
	line-height: calc(25/18);
	margin-bottom: 8px;
}

.position {
	font-size: 14px;
	line-height: calc(19/14);
}

.social-icons {
	margin-bottom: 50px;
}

/* ---------- Contact us ---------- */

/* Left block - Online-booking */

.field {
	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);

	&::placeholder {
		font-family: "Open Sans";
		font-weight: 600;
		font-size: 11px;
		line-height: calc(15/11);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	&:hover,
	&:focus {
		border-bottom: 1px solid #fff;
	}

	&.narrow {
		/* padding: 0 0 8px; */
		height: 30px;
		width: 50%;
	}

	&.wide {
		height: 76px;
		resize: none;
	}
}

/* Right block - Contacts */

.relative {
	position: relative;
}

.contacts-bg-wrapper {
	background-image: linear-gradient(rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../img/contacts/bg.jpg");

	position: absolute;
	left: calc(50% + 20px);
	height: 100%;
	width: 100%;

	background-repeat: no-repeat;
	background-size: contain;
}

.contacts {
	padding-left: 100px;
}

/* Address block */

address {
	font-style: normal;
}

.contacts-list {
	margin-top: 40px;
	margin-bottom: 70px;
	margin-left: 43px;

	& li {
		line-height: calc(30/18);
		/* padding-left: 16px; */
		position: relative;

		/* Address block icons */
		&::before {
			margin-left: -28px;
			position: absolute;
			top: 4px;
			left: -16px;
		}
	}

	& .link {
		font-size: 18px;
		font-weight: 400;
	}

	& .address .link {
		font-weight: 700;
	}
}

.address::before {
	content: url('../img/contacts-icons/map-pin.png');
}

.telephone::before {
	content: url('../img/contacts-icons/phone.png');
}

.email::before {
	content: url('../img/contacts-icons/mail.png');
}

/* ---------- Footer ---------- */

.footer {
	padding: 56px 215px;

	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
}