/* ---------- Global values ---------- */
:root {
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}

/* Remove markers in markup ul's: */
.markup-list {
  list-style: none;
}

/* CSS Normalize */
:root {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

/* Remove markers in markup ul's: */
.markup-list {
  list-style: none;
}

/* FLEX */
.flex,
.prefix {
  display: flex;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.wrap {
  flex-wrap: wrap;
}

/* Gap values */
:root {
  --standard-gap: 30px;
  --regular-spacing: 20px;
  --large-spacing: 44px;
  --list-spacing: 10px;
}

.flex {
  gap: var(--standard-gap);
}

.regular-spacing {
  gap: var(--regular-spacing);
}

.large-spacing {
  gap: var(--large-spacing);
}

.hero {
  gap: 0;
}

.hero-main {
  gap: 184px;
}

.social-icons {
  gap: 10px;
}

/* Individual rules */
.price-list li {
  display: flex;
  gap: var(--list-spacing);
}

.price-leader {
  flex-grow: 1;
}

/* COLORS */
:root {
  background-color: #E5E5E5;
  /* Color variables	 */
  --accent: #FF6C00;
  --darker: #303030;
  --dark: #555555;
  --light: #9DA4BD;
  --light-transp: rgba(157, 164, 189, 0.6);
  --price-leader: rgba(157, 164, 189, 0.12);
  --bg-dark: #191C26;
  --bg-light: #F7F7F7;
}

body {
  background-color: #fff;
}

.field:hover::-moz-placeholder, .field:focus::-moz-placeholder {
  color: #fff;
}

.field:hover:-ms-input-placeholder, .field:focus:-ms-input-placeholder {
  color: #fff;
}

.header .link,
.dark .title,
.dark .button,
.contacts .sup-heading,
.field:hover,
.field:focus,
.field:hover::placeholder,
.field:focus::placeholder {
  color: #fff;
}

.title,
.button,
.name,
.sup-heading,
.link,
.stat,
.follow-us {
  color: var(--darker);
  --current: var(--darker);
}

.section.dark,
.smaller {
  color: var(--dark);
}

.hero,
.footer,
.section.light,
.price-list,
.contacts,
.contacts-list .link {
  color: var(--light);
}

.dark .sup-heading {
  color: var(--light-transp);
  --current: var(--light-transp);
}

.link:hover,
.link:focus,
.position,
.stat-number:after {
  color: var(--accent);
}

.button:hover,
.button:focus {
  color: #fff;
  background: var(--accent);
}

.barbers,
.stat {
  background-color: var(--bg-light);
}

.bg-dark,
.field {
  background-color: var(--bg-dark);
}

.field::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.field:-ms-input-placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.field,
.field::placeholder {
  color: rgba(157, 164, 189, 0.4);
}

/* ---------- Buttons ---------- */
.button {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 25px;
  padding: 12px 20px;
  min-width: 160px;
}

/* ---------- Links ---------- */
.link {
  font-weight: 600;
  font-size: 16px;
}

.follow-us .link,
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
}

/* ---------- Headings ---------- */
.title {
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.05em;
}

h1.title {
  font-size: 72px;
  line-height: 1.1805555556;
}

h2.title {
  font-size: 42px;
  line-height: 1.1666666667;
}

.sup-heading {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
}

/* Prefix (thin line before sup-headings and follow-us links in hero sidebar) */
.prefix::before {
  content: "";
  width: 60px;
  margin-right: 20px;
  background: linear-gradient(to right, var(--current), var(--current));
  background-size: 100% 1px;
  background-position: 0% 55%;
  background-repeat: repeat-x;
}

/* ---------- Hero ---------- */
.hero {
  height: 680px;
}

/* Hero sidebar */
.hero-sidebar {
  width: 155px;
  padding: 32px 31px 40px 0;
}

.sidebar-content {
  width: 69px;
  height: 100%;
  padding-bottom: 120px;
}

.vertical {
  transform: rotate(-90deg);
}

/* Hero - main/slider */
.hero-main {
  width: 1070px;
  background-image: url("../img/slider/slider-overlay.jpg");
  background-size: cover;
  padding: 40px 17px 40px 100px;
}

/* ---------- Sections other than Hero ---------- */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.half-sized {
  padding-top: 130px;
  width: 50%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ---------- About ---------- */
.description {
  font-size: 14px;
  line-height: 1.8571428571;
  /* Additional margin */
  margin-bottom: 22px;
}

/* ---------- Services and prices ---------- */
.services {
  background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../img/services-and-prices.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------- Price-list ---------- */
.price-list-wrapper {
  /* https://stackoverflow.com/questions/43726696/splitting-list-of-items-in-two-columns-with-css */
  -moz-columns: 2;
  columns: 2;
  -moz-column-gap: 30px;
       column-gap: 30px;
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%), linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 570px 100%, 570px 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.price-list li {
  margin: 0 20px;
}
.price-list li:not(:last-child) {
  margin-bottom: 20px;
}

/* Underline/leader between service name and price */
.price-leader {
  background: linear-gradient(to right, var(--price-leader), var(--price-leader));
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: bottom 6px left;
}

/* ---------- Why us ---------- */
.stat {
  width: 170px;
  height: 133px;
  text-align: center;
  padding: 20px 24px;
}
.stat:nth-child(odd) {
  margin-top: -30px;
}

.stat-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}
.stat-number:after {
  content: "+";
  font-size: 16px;
  vertical-align: top;
}

.stat-name {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
}

/* ---------- Our barbers ---------- */
.team-card {
  text-align: center;
}

.name {
  line-height: 1.3888888889;
  margin-bottom: 8px;
}

.position {
  font-size: 14px;
  line-height: 1.3571428571;
}

.social-icons {
  margin-bottom: 50px;
}

/* ---------- Contact us ---------- */
/* Left block - Online-booking */
.field {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}
.field::-moz-placeholder {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.field:-ms-input-placeholder {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.field::placeholder {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.field:hover, .field:focus {
  border-bottom: 1px solid #fff;
}
.field.narrow {
  /* padding: 0 0 8px; */
  height: 30px;
  width: 50%;
}
.field.wide {
  height: 76px;
  resize: none;
}

/* Right block - Contacts */
.relative {
  position: relative;
}

.contacts-bg-wrapper {
  background-image: linear-gradient(rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../img/contacts/bg.jpg");
  position: absolute;
  left: calc(50% + 20px);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts {
  padding-left: 100px;
}

/* Address block */
address {
  font-style: normal;
}

.contacts-list {
  margin-top: 40px;
  margin-bottom: 70px;
  margin-left: 43px;
}
.contacts-list li {
  line-height: 1.6666666667;
  /* padding-left: 16px; */
  position: relative;
  /* Address block icons */
}
.contacts-list li::before {
  margin-left: -28px;
  position: absolute;
  top: 4px;
  left: -16px;
}
.contacts-list .link {
  font-size: 18px;
  font-weight: 400;
}
.contacts-list .address .link {
  font-weight: 700;
}

.address::before {
  content: url("../img/contacts-icons/map-pin.png");
}

.telephone::before {
  content: url("../img/contacts-icons/phone.png");
}

.email::before {
  content: url("../img/contacts-icons/mail.png");
}

/* ---------- Footer ---------- */
.footer {
  padding: 56px 215px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
}/*# sourceMappingURL=style.css.map */