/* SVG icons */

.icon {
	display: block;
	// fill: $icon-inactive;
	fill: currentColor;

	.contacts & {

		fill: transparent;
		stroke: currentColor;
	}
}

.social-icon {
	width: 20px;
	height: 20px;

	.footer & {
		fill: $contrast;
	}
}

.contacts-icon {
	width: 24px;
	height: 24px;
}