/* ---------- Header ---------- */

.header {
	@extend .dark;
	// outline: auto;

	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-header;

	width: 100vw;
	// width: calc(100vw - 15px); //to adjust for  scrollbar width on Windows 10
	padding: 40px 17px 20px 0;

	.link {
		color: $contrast;
	}

	.icon-logo {
		fill: $darker;

		@include media(tablet, max) {
			fill: $contrast;
		}
	}

	&.no-transparency {
		background-color: rgba(#111319, 0.8);
		backdrop-filter: blur(3px);

		& .icon-logo {
			fill: $contrast;
		}
	}
}

.header-container {
	@extend .container;

	display: flex;
	align-items: center;
}

.header-logo {
	@extend .link;

	@include media(tablet) {
		margin-right: $regular-gap;
	}

	@include media(desktop) {
		margin-right: 70px;
	}
}

.header-nav-list {
	display: flex;
	flex-direction: column;
	gap: 24px;

	@include media(tablet, max) {
	}

	@include media(tablet) {
		flex-direction: row;
		gap: $regular-gap;

		margin-bottom: 0;
	}
}

// .header-nav-item {
// }

.header-nav-link {
	@extend %link;

	@include media(tablet, max) {
		//
		@include fz-lh-rem(18, 25);
	}
}

.header-right {
	display: flex;
	flex-direction: column;
	gap: 24px;

	@include media(tablet) {
		flex-direction: row;
		align-items: center;
		gap: $large-spacing;
		margin-left: auto;
	}

	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
		position: relative;
		justify-content: center;
		margin-right: 5px;
	}
}

.header-telephone {
	@extend %link;

	@include media(tablet, max) {
		@include fz-lh-rem(18, 25);
	}

	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
		position: absolute;
		top: calc(100% + 20px);
		// left: 50%;
		// transform: translateX(-50%);
	}
}

.header-button {
	@extend .button, .button--accented;

	@include media(tablet, max) {
		align-self: start;
		padding: 12px 37px;
	}
}

/* ---------- Hero ---------- */

.hero {
	// bg
	// @include media(tablet, max) {
	// 	background-color: $dark;
	// 	background-size: cover;
	// 	background-position: center;
	// 	background-repeat: no-repeat;

	// 	@include bg-with-overlay(rgba($bg-dark, 0.2), slider, img3, webp);
	// }

	.container {
		@extend .dark;
		// outline: auto;
		color: $light;

		display: flex;
		gap: 0;

		min-height: 580px;

		@include media(tablet) {
			min-height: 680px;
		}

		@include media(desktop) {
			@include bg-with-overlay(rgba($bg-dark, 0.2), slider, img3, webp);

			background-repeat: no-repeat;
			background-size: cover;
			background-position: top 0 left calc(100px + $container-padding);
		}
	}
}

// Hero sidebar

.hero-sidebar {
	width: 100px;
	color: $dark;
	// padding: 32px 31px 40px 0;
	padding-bottom: 40px;
	padding-left: 27px;
	display: flex;

	@include media(tablet, max) {
		display: none;
	}

	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
		width: 90px;
	}
}

.follow-us {
	//

	&.vertical {
		transform: translateY(100%) rotate(270deg);
		transform-origin: top left;

		align-items: center;
		margin-top: auto;
	}
}

// Hero main

.hero-main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	flex-grow: 1;
	gap: 184px;
	position: relative;

	@include media(desktop, max) {
		@include bg-with-overlay(rgba($bg-dark, 0.2), slider, img3, webp);

		// background-position: top 0 left calc(90px + $container-padding);
		background-repeat: no-repeat;
		background-size: cover;
	}

	@include media(tablet) {
		// padding-left: 118px; // це виглядає потворно :)
		padding-left: 90px;
	}

	@include media(desktop) {
		padding-left: 100px;
	}

	// background-color: $dark;
	// background-size: cover;
	// background-position: center;

	// @include bg-with-overlay(rgba($bg-dark, 0.2), slider, img3, webp);
}

.hero-text-block {
	display: flex;
	flex-direction: column;
	gap: $single-spacing;
}

.hero-sup-heading {
	@extend .sup-heading;

	animation: top-to-bottom 1000ms ease 100ms both;
}

.hero-title {
	@extend %heading;

	@include fz-lh-rem(48, 56);

	@include media(desktop) {
		// font-size: 72px;
		// line-height: calc(85 / 72);
		@include fz-lh-rem(72, 85);
	}

	animation: left-to-right 1000ms ease 1200ms both;
}

.hero-subtitle {
	animation: bottom-to-top 1000ms ease 2200ms both;
	max-width: 400px;

	@include media(tablet, max) {
		@include fz-lh-rem(16, 26);
	}
}

// Slider

.slider-pagination {
	@include media(tablet, max) {
		display: none;
	}

	@include media(tablet) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 12px;

		position: absolute;
		top: calc(50% - 15px);
		right: 37px;
	}

	@include media(desktop) {
		right: 20px;
	}
}

.slider-pagination-item {
	width: 8px;
	height: 2px;
	background-color: currentColor;

	&.active {
		width: 18px;
		background-color: $contrast;
	}
}

.slider-buttons {
	@include media(tablet, max) {
		display: none;
	}

	@include media(tablet) {
		display: flex;
		gap: 24px;

		position: absolute;
		bottom: 40px;
		right: 20px;
	}
}

.slider-btn {
	font-weight: 600;
	// font-size: 11px;
	// line-height: calc(15 / 11);
	@include fz-lh-rem(11, 15);
	letter-spacing: 0.1em;

	color: $contrast;
	background-color: transparent;

	width: 60px;
	padding-bottom: 8px;
	border: none;
	border-bottom: 1px solid currentColor;

	&.prev {
		text-align: left;
	}

	&.next {
		text-align: right;
	}

	&[disabled] {
		color: rgba($light, 0.6);
		// cursor: not-allowed;
		cursor: auto;
	}
}

/* ---------- About ---------- */

section.about {
	//
	.container {
		@extend .flex;
		gap: $regular-gap;
	}

	.section-content {
		@include media(desktop) {
			padding-right: 100px;
		}
	}

	.section-heading {
		@include media(desktop, max) {
			@include fz-lh-rem(28, 33);
			max-width: 330px;
		}
	}

	.button {
		align-self: flex-start;
		margin-top: auto;
	}
}

// About - left block

.about-images-list {
	@include media(tablet, max) {
		display: none;
	}

	@include media(tablet) {
		display: flex;
		gap: $regular-gap;
		flex-direction: column;
		min-width: calc((100% - $regular-gap) / 2);
	}

	@include media(desktop) {
		flex-direction: row;
	}
}

.description {
	// font-size: 14px;
	// line-height: calc(26 / 14);
	@include fz-lh-rem(14, 26);
	color: $dark;

	@include media(tablet, max) {
		margin-bottom: 20px; // + 20px flex gap = 40px total
	}
}

/* ---------- Services and prices ---------- */

section.services {
	@extend .dark;
	padding: 0px;

	.overlay {
		padding: $section-padding 0;
		margin: 0 auto;

		background-color: $bg-dark;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		// background-image: linear-gradient(rgba(#111319, 0.8), rgba(#111319, 0.8)),
		// url("../images/jpeg/services.jpg");

		// $linear-gradient-color,	$path, 	$filename, 	$extension: jpg
		@include bg-with-overlay(rgba(#111319, 0.8), services, img, webp);
	}

	// .container {
	// 	@extend .flex;
	// 	flex-direction: column;
	// 	gap: $regular-gap;
	// }

	.button {
		align-self: center;
	}
}

.services-wrapper {
	display: flex;
	flex-direction: column;
	gap: $large-spacing;
}

/* ---------- Price-list ---------- */

.price-list-wrapper {
	// https://stackoverflow.com/questions/43726696/splitting-list-of-items-in-two-columns-with-css

	// columns: 1;
	background-image: linear-gradient(
		180deg,
		#171a24 0%,
		rgba(#171a24, 0.2) 100%
	);

	@include media(desktop) {
		columns: 2;
		column-gap: 30px;

		background-image: linear-gradient(
				180deg,
				#171a24 0%,
				rgba(#171a24, 0.2) 100%
			),
			linear-gradient(180deg, #090b13 0%, rgba(#090b13, 0.2) 100%);
		background-repeat: no-repeat;
		background-position: left, right;
		background-size: calc((100% - $regular-gap) / 2) 100%,
			calc((100% - $regular-gap) / 2) 100%; // 570px
	}

	padding-top: 30px;
	padding-bottom: 30px;
}

.price-list {
	color: $light;
}

.price-list-item {
	margin: 0 $single-spacing;
	display: flex;
	gap: $list-spacing;
	align-items: baseline;

	@include media(mobile, max) {
		@include fz-lh-rem(11, 15);
	}

	@media screen and (min-width: $mobile) and (max-width: ($tablet - 1px)) {
		@include fz-lh-rem(14, 20);
	}

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.price-leader {
	background-color: rgba($light, 0.12);
	height: 1px;

	flex-grow: 1;
}

/* ---------- Why us ---------- */

section.why-us {
	//
	.container {
		display: flex;
		flex-direction: column;
		gap: $large-spacing;

		@include media(tablet) {
			.section-content {
				max-width: 65%;
			}
		}

		@include media(desktop) {
			flex-direction: row-reverse;
			gap: $regular-gap;

			.section-content {
				max-width: calc((100% - $regular-gap) / 2);
				padding-right: 70px;
			}
		}
	}
}

.stats {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: $regular-gap;

	padding-top: 30px;

	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
		max-width: 450px;
		margin-left: auto;
	}

	@include media(desktop) {
		padding: 0 100px;
	}
}

.stat {
	height: 133px;

	width: 194px;
	padding: $single-spacing 32px;

	@include media(tablet) {
		width: 210px;
		padding: $single-spacing $large-spacing;
	}

	@include media(desktop) {
		width: 170px;
		padding: $single-spacing 24px;
	}

	color: $darker;
	background-color: $bg-light;

	text-align: center;

	@include media(mobile) {
		&:nth-child(odd) {
			margin-top: -30px;
		}
	}
}

.stat-number {
	font-weight: 700;
	// font-size: 42px;
	// line-height: calc(57 / 42);
	@include fz-lh-rem(42, 57);
	letter-spacing: 0.05em;
	margin-bottom: 6px;

	&:after {
		content: "+";
		font-size: 16px;
		color: $accent;
		vertical-align: top;
	}
}

.stat-name {
	font-weight: 600;
	// font-size: 11px;
	// line-height: calc(15 / 11);
	@include fz-lh-rem(11, 15);
}

/* ---------- Our barbers ---------- */

section.barbers {
	background-color: $bg-light;

	.container {
		display: flex;
		flex-direction: column;
		gap: $large-spacing;

		@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
			padding: 0 calc($container-padding + 120px);
		}

		// @include media(desktop) {
		// 	gap: $regular-gap;
		// }
	}
}

.team-cards {
	display: flex;
	flex-wrap: wrap;
	gap: $regular-gap;

	@include media(desktop, max) {
		row-gap: 64px;
	}
}

.team-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include media(desktop, max) {
		@include flex-basis(1);
	}

	@include media(desktop) {
		// max-width: 370px;
		// flex-basis: 370px;
		@include flex-basis(3);
	}

	text-align: center;
}

.team-card-meta {
	padding-top: $regular-gap;
}

.team-card-name {
	line-height: calc(25 / 18);
	margin-bottom: 8px;
	color: $darker;
}

.team-card-position {
	// font-size: 14px;
	// line-height: calc(19 / 14);
	@include fz-lh-rem(14, 19);
	color: $accent;
}

// Team card social media links

.social-links {
	display: flex;
	justify-content: center;
	margin-top: $regular-gap;
	gap: $list-spacing;
}

.social-link {
	@extend .link;

	color: $darker;
	background-color: $contrast;
	height: 44px;
	width: 44px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover,
	&:focus {
		color: $accent;
	}
}

.social-link-icon {
	@extend .icon, .rotatable, .w-transformable-icon;

	width: 20px;
	height: 20px;

	.footer & {
		fill: $contrast;
	}
}

.rotatable {
	transition: transform 200ms ease-in-out 10ms;

	.w-transformable-icon:hover &,
	.w-transformable-icon:focus & {
		transform: rotate(360deg);
		// animation: iconScroll 2500ms;
	}
}

/* ---------- Gallery ---------- */

section.gallery {
	//
	.container {
		display: flex;
		flex-direction: column;
		gap: $large-spacing;
	}
}

.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: $regular-gap;
}

.gallery-item {
	@include media(tablet, max) {
		// width: 418px;
		@include flex-basis(1);
	}

	@include media(tablet) {
		// width: 330px;
		@include flex-basis(2);
	}

	@include media(desktop) {
		// width: 270px;
		@include flex-basis(4);
	}
}

/* ---------- Booking and contacts block ---------- */

.booking-and-contacts-block {
	//
	background-color: $bg-dark;

	.conditional-overlay {
		//
		@include media(desktop) {
			//
			max-width: 1600px;
			margin: 0 auto;

			@include bg-with-overlay(rgba(#191c26, 0.9), contacts, img, webp);
			background-repeat: no-repeat;

			// If both values are <length> or <percentage> values, then the first defines X and the second Y
			// a value of 50% horizontally or vertically centers the background image as the 50% of the image will be at the 50% mark of the container
			background-position: calc(
					50% + (785px / 2) + $regular-gap + $container-padding
				)
				0%;

			// first value: width of the image, second value: height
			// background-size: 50% 100%;
			background-size: auto 100%;
			// background-size: contain;

			// max-width: 100%;
			// max-width: calc(1600px / 2 - $regular-gap);
			// max-width: 785px;
			// aspect-ratio: 1/1;
		}
	}

	.conditional-container {
		//
		@include media(desktop) {
			display: flex;
			gap: $regular-gap;

			width: $desktop;

			// padding: $section-padding $container-padding;
			padding: 0 $container-padding;

			margin-left: auto;
			margin-right: auto;
		}
	}
}

section.online-booking,
section.contacts {
	//
	@include media(desktop) {
		width: 50%;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: $large-spacing;

		max-width: 100%;

		padding: $section-padding $container-padding;

		@include media(desktop) {
			display: flex;
			gap: $regular-gap;

			width: $desktop;

			padding: $section-padding 0;

			margin-left: auto;
			margin-right: auto;
		}
	}

	.section-heading {
		@include media(tablet, max) {
			align-self: center;
		}
	}
}

/* ------ Online-booking (left block) ------ */

section.online-booking {
	@extend .dark;
	padding: 0 0;

	.container {
		display: flex;
		flex-direction: column;
		gap: $large-spacing;
	}
}

.booking-form {
	display: flex;
	flex-direction: column;
	gap: $large-spacing;

	.text-fields {
		display: flex;
		flex-wrap: wrap;

		column-gap: $regular-gap;
		row-gap: $large-spacing;
	}

	.text-field-wrapper {
		position: relative;
		color: rgba($light, 0.4);

		width: 100%;

		&.half-sized {
			@include media(tablet) {
				width: calc((100% - $regular-gap) / 2);
			}
		}

		&:hover,
		&:focus {
			color: $contrast;
		}
	}

	.text-field {
		width: 100%;
		height: 100%;
		min-height: 24px;

		font-size: inherit;
		font-family: "Open Sans";

		background-color: inherit;
		color: $light;

		border: none;
		border-bottom: 1px solid currentColor;

		transition: border-color $transition-duration $transition-timing-function;

		&:hover,
		&:focus {
			border-color: $contrast;
		}
	}

	.hovering-label {
		font-family: "Open Sans";
		font-weight: 600;
		// font-size: 11px;
		// line-height: calc(15 / 11);
		@include fz-lh-rem(11, 15);
		letter-spacing: 0.1em;
		text-transform: uppercase;

		position: absolute;
		top: 0;
		left: 0;

		transition: color $transition-duration $transition-timing-function,
			transform $transition-duration $transition-timing-function;

		.text-field:focus + &,
		.text-field:not(:placeholder-shown) + & {
			// transform: translateY(-20px);
			transform: translateY(-1.4em);
			color: $contrast;
		}

		.text-field:required + &::after {
			content: "*";
		}
	}

	.message-field {
		resize: none;
	}

	.button {
		align-self: center;

		@include media(tablet) {
			align-self: flex-start;
		}
	}
}

/* ------ Contacts (right block) ------ */

section.contacts {
	@extend .dark;
	padding: 0 0;

	.overlay {
		//
		@include media(desktop, max) {
			//
			@include bg-with-overlay(rgba(#191c26, 0.9), contacts, img, webp);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	.section-content {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
			flex-direction: row;
			gap: $regular-gap;
		}

		@include media(desktop) {
			padding-left: 100px;
		}
	}

	.section-heading {
		margin-bottom: 40px;

		@include media(tablet, max) {
			text-align: center;
		}

		@include media(desktop) {
			padding-left: 100px;
		}
	}

	.sup-heading {
		color: $contrast;
	}
}

.contacts-list {
	min-width: 330px;

	@include media(tablet, max) {
		margin-bottom: $large-spacing;
	}

	@include media(desktop) {
		margin-bottom: 70px;
	}

	display: flex;
	flex-direction: column;
	gap: $single-spacing;
}

.contacts-item {
	line-height: calc(30 / 18);
}

.contacts-link {
	@extend .link;

	// font-size: 18px;
	font-size: rem(18);
	font-weight: 400;

	display: flex;
	align-items: center;
	gap: 16px;

	color: $light;

	&.address-link {
		font-weight: 700;
	}

	&.email-link {
		text-decoration-line: underline;
	}
}

.contacts-icon {
	@extend .icon;

	fill: transparent;
	stroke: currentColor;
}

.contacts-item:first-child .contacts-icon {
	transform: translateY(-13px);
}

.working-hours {
	// display: flex;
	// flex-direction: column;

	.working-hours-text {
		color: $light;
	}
}

/* ---------- Footer ---------- */

.footer {
	color: $light;
	font-weight: 600;
	// font-size: 11px;
	// line-height: calc(15 / 11);
	@include fz-lh-rem(11, 15);

	.container {
		display: flex;
		justify-content: space-between;

		padding-top: 56px;
		padding-bottom: 56px;

		@include media(tablet, max) {
			flex-direction: column-reverse;
			gap: $single-spacing;

			padding-top: $large-spacing;
			padding-bottom: $large-spacing;
		}
	}

	.follow-us {
		@include media(tablet, max) {
			margin-left: auto;
		}
	}
}

/* ---------- Modal window ---------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-backdrop;

	width: 100%;
	height: 100%;

	background-color: rgba(#111319, 0.4);
	backdrop-filter: blur(2px);

	transition: opacity $transition-duration $transition-timing-function,
		visibility $transition-duration $transition-timing-function;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 400px;
	min-height: 500px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px darkgray;

	background-color: $bg-default;
}

.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;

	width: 32px;
	height: 32px;

	border: 1px solid $darker;
	border-radius: 50%;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
}

// Mobile menu

.menu-burger-button {
	background-color: transparent;
	border: none;

	&:hover,
	&:focus {
		fill: $accent;
	}

	@include media(tablet, max) {
		display: block;
		margin-left: auto;
	}

	display: none;

	.menu-burger-icon {
		@extend .icon;

		fill: $contrast;
	}
}

.menu-close-button {
	display: none;
}

// Header menu wrapper

.header-menu-wrapper {
	// @extend .dark;
	//
	display: flex;

	@include media(tablet, max) {
		//
		flex-direction: column;
		gap: 64px;

		background-color: #fff;

		position: fixed;
		top: 0;
		left: 30vw;
		width: 100%;
		z-index: 2;

		width: 80vw;
		height: 100vh;
		padding: 48px 40px;

		transform: translateX(100%);
		@include transition(transform);

		&.is-open {
			transform: translateX(0);
			transition-delay: 100ms;
		}
	}

	@include media(tablet) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
	}

	@include media(desktop) {
		margin-right: 17px;
	}

	.link {
		@include fz-lh-rem(12, 16);
		letter-spacing: 0.1em;

		color: $darker;
	}

	.button {
		@include fz-lh-rem(12, 16);
	}
}

.follow-us.mobile-menu-only {
	display: none;

	.header-menu-wrapper.is-open & {
		display: flex;
		flex-wrap: wrap;

		li:last-child {
			@media screen and (max-width: 560px) {
				margin-left: 100px;
			}
		}
	}
}
