/* ---------- Header ---------- */

.header {
	@extend .dark;
	// outline: auto;

	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-header;

	width: 100vw;
	// width: calc(100vw - 15px); //to adjust for  scrollbar width on Windows 10
	padding: 40px 17px 20px 0;

	.link {
		color: $contrast;
	}

	.icon-logo {
		fill: $darker;

		@media screen and (max-width: ($tablet - 1px)) {
			fill: $contrast;
		}
	}

	&.no-transparency {
		background-color: rgba(#111319, 0.8);
		backdrop-filter: blur(3px);

		& .icon-logo {
			fill: $contrast;
		}
	}
}

.header-container {
	@extend .container;

	display: flex;
	align-items: center;
	// outline: auto;
}

.header-logo {
	@extend .link;

	@media screen and (min-width: $tablet) {
		margin-right: 70px;
	}

	@media screen and (min-width: $desktop) {
		margin-right: 70px;
	}
}

// Header menu wrapper

.header-menu-wrapper {
	//
	@media screen and (max-width: ($tablet - 1px)) {
		//
		position: fixed;
		top: 100%; // якщо буде виводитись під футером
		top: 0; // якщо буде виводитись поверх футера
		left: 20vw;
		width: 100%;
		z-index: 2;

		width: 80vw;
		height: 100vh;
		padding: 48px 40px;

		@media screen and (max-width: ($mobile - 1px)) {
			padding: 48px 20px;
		}

		display: flex;
		flex-direction: column;

		background-color: #fff;

		transform: translateX(100%);
		@include transition(transform);

		&.is-open {
			// display: block;
			transform: translateX(0);
			transition-delay: 100ms;
		}
	}

	@media screen and (min-width: $tablet) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;

		margin-right: 17px;
	}
}

.header-nav-list {
	@extend %markup-list, .flex;
	gap: $regular-gap;
}

// .header-nav-item {
// }

.header-nav-link {
	@extend .link;
}

.header-right {
	display: flex;
	align-items: center;
	gap: $large-spacing;
	margin-left: auto;
}

.header-button {
	@extend .button;
}

/* ---------- Hero ---------- */

.hero {
	@extend .container, .dark;

	min-height: 680px;
	color: $light;

	display: flex;
	gap: 0;
}

.hero-sup-heading {
	@extend .sup-heading;

	animation: top-to-bottom 1000ms ease 100ms both;
}

.hero-title {
	@extend %heading;

	// font-size: 72px;
	// line-height: calc(85 / 72);
	@include fz-lh-rem(72, 85);

	animation: left-to-right 1000ms ease 1200ms both;
}

.hero-subtitle {
	animation: bottom-to-top 1000ms ease 2200ms both;

	@media screen and (max-width: ($tablet - 1px)) {
		width: $mobile;
	}
}

.hero-sidebar {
	width: 100px;
	color: $dark;
	// padding: 32px 31px 40px 0;
	padding-bottom: 40px;
	padding-left: 27px;
	display: flex;

	@media screen and (max-width: ($tablet - 1px)) {
		display: none;
	}
}

// Hero main

.hero-main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	flex-grow: 1;
	gap: 184px;
	position: relative;

	padding: 0 20px 40px 100px;

	background-color: $dark;
	background-size: cover;
	background-position: center;

	// background-image: linear-gradient(
	// 		to right,
	// 		rgba($bg-dark, 0.2),
	// 		rgba($bg-dark, 0.2)
	// 	),
	// 	url("../images/jpeg/slider/img.jpg");

	// $gradient-color, $path (only additional folders), $filename (without ext), $extension (default: jpg)
	@include bg-img-retina-2x-3x-w-gradient(
		rgba($bg-dark, 0.2),
		images/webp/slider,
		img3,
		webp
	);
}

.hero-text-block {
	display: flex;
	flex-direction: column;
	gap: $single-spacing;
}

// Slider

.slider-pagination {
	@extend %markup-list;

	@media screen and (max-width: ($tablet - 1px)) {
		display: none;
	}

	@media screen and (min-width: $tablet) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 12px;

		position: absolute;
		top: calc(50% - 15px);
		right: 20px;
	}
}

.slider-pagination-item {
	width: 8px;
	height: 2px;
	background-color: currentColor;

	&.active {
		width: 18px;
		background-color: $contrast;
	}
}

.slider-buttons {
	@extend %markup-list;

	@media screen and (max-width: ($tablet - 1px)) {
		display: none;
	}

	@media screen and (min-width: $tablet) {
		display: flex;
		gap: 24px;

		position: absolute;
		bottom: 40px;
		right: 20px;
	}
}

.slider-btn {
	font-weight: 600;
	// font-size: 11px;
	// line-height: calc(15 / 11);
	@include fz-lh-rem(11, 15);
	letter-spacing: 0.1em;

	color: $contrast;
	background-color: transparent;

	width: 60px;
	padding-bottom: 8px;
	border: none;
	border-bottom: 1px solid currentColor;

	&.prev {
		text-align: left;
	}

	&.next {
		text-align: right;
	}

	&[disabled] {
		color: rgba($light, 0.6);
		// cursor: not-allowed;
		cursor: auto;
	}
}

/* ---------- About ---------- */

section.about {
	//
	.container {
		@extend .flex;
		gap: $regular-gap;
	}

	.section-content {
		padding-right: 100px;
	}

	.button {
		align-self: flex-start;
		margin-top: auto;
	}
}

.about-images-list {
	@extend .markup-list;

	@media screen and (max-width: ($tablet - 1px)) {
		display: none;
	}

	@media screen and (min-width: $tablet) {
		display: flex;
		gap: $regular-gap;
	}
}

.description {
	// font-size: 14px;
	// line-height: calc(26 / 14);
	@include fz-lh-rem(14, 26);

	color: $dark;
}

/* ---------- Services and prices ---------- */

section.services {
	@extend .dark;
	padding: 0px;

	.overlay {
		padding: $section-padding 0;
		margin: 0 auto;

		background-color: $bg-dark;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		// background-image: linear-gradient(rgba(#111319, 0.8), rgba(#111319, 0.8)),
		// url("../images/jpeg/services.jpg");

		// $linear-gradient-color,	$path, 	$filename, 	$extension: jpg
		@include bg-img-retina-2x-3x-w-gradient(
			rgba(#111319, 0.8),
			images/webp/services,
			img,
			webp
		);
	}

	.container {
		@extend .flex;
		flex-direction: column;
		gap: $regular-gap;
	}

	.button {
		align-self: center;
	}
}

.services-wrapper {
	display: flex;
	flex-direction: column;
	gap: $large-spacing;
}

/* ---------- Price-list ---------- */

.price-list-wrapper {
	// https://stackoverflow.com/questions/43726696/splitting-list-of-items-in-two-columns-with-css

	columns: 1;

	@media screen and (min-width: ($tablet + 100px)) {
		columns: 2;
		column-gap: 30px;

		background-image: linear-gradient(
				180deg,
				#171a24 0%,
				rgba(#171a24, 0.2) 100%
			),
			linear-gradient(180deg, #090b13 0%, rgba(#090b13, 0.2) 100%);
		background-repeat: no-repeat;
		background-position: left, right;
		background-size: 585px 100%, 585px 100%;
	}

	padding-top: 30px;
	padding-bottom: 30px;
}

.price-list {
	@extend .markup-list;
	color: $light;
}

.price-list-item {
	margin: 0 20px;
	display: flex;
	gap: $list-spacing;
	align-items: baseline;

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.price-leader {
	background-color: rgba($light, 0.12);
	height: 1px;

	flex-grow: 1;
}

/* ---------- Why us ---------- */

section.why-us {
	//
	.container {
		@extend .flex;
		gap: $regular-gap;
	}

	.section-content {
		// padding-right: 70px;
	}
}

.stats {
	@extend .markup-list;
	padding: 0 100px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: $regular-gap;

	padding-top: 30px;
}

.stat {
	width: 170px;
	height: 133px;
	padding: 20px 24px;

	color: $darker;
	background-color: $bg-light;

	text-align: center;

	&:nth-child(odd) {
		margin-top: -30px;
	}
}

.stat-number {
	font-weight: 700;
	// font-size: 42px;
	// line-height: calc(57 / 42);
	@include fz-lh-rem(42, 57);
	letter-spacing: 0.05em;
	margin-bottom: 6px;

	&:after {
		content: "+";
		font-size: 16px;
		color: $accent;
		vertical-align: top;
	}
}

.stat-name {
	font-weight: 600;
	// font-size: 11px;
	// line-height: calc(15 / 11);
	@include fz-lh-rem(11, 15);
}

/* ---------- Our barbers ---------- */

section.barbers {
	background-color: $bg-light;

	.container {
		display: flex;
		flex-direction: column;
		gap: $regular-gap;
	}

	.flex-wrapper {
		display: flex;
		flex-direction: column;
		gap: $large-spacing;
	}
}

.team-cards {
	@extend .markup-list;
	display: flex;
	gap: $regular-gap;
}

.team-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-align: center;
}

.team-card-meta {
	padding-top: $regular-gap;
}

.team-card-name {
	line-height: calc(25 / 18);
	margin-bottom: 8px;
	color: $darker;
}

.team-card-position {
	// font-size: 14px;
	// line-height: calc(19 / 14);
	@include fz-lh-rem(14, 19);
	color: $accent;
}

// Team card social media links

.social-links {
	@extend .markup-list;
	display: flex;
	justify-content: center;
	margin-top: $regular-gap;
	gap: $list-spacing;
}

.social-link {
	@extend .link;

	color: $darker;
	background-color: $contrast;
	height: 44px;
	width: 44px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover,
	&:focus {
		color: $accent;
	}
}

.social-link-icon {
	@extend .icon, .rotatable, .w-transformable-icon;

	width: 20px;
	height: 20px;

	.footer & {
		fill: $contrast;
	}
}

.rotatable {
	transition: transform 200ms ease-in-out 10ms;

	.w-transformable-icon:hover &,
	.w-transformable-icon:focus & {
		transform: rotate(360deg);
		// animation: iconScroll 2500ms;
	}
}

/* ---------- Gallery ---------- */

section.gallery {
	//
	.container {
		display: flex;
		flex-direction: column;
		gap: $large-spacing;
	}
}

.gallery-list {
	@extend .markup-list;
	display: flex;
	gap: $regular-gap;
}

/* ---------- Booking and contacts block ---------- */

.booking-and-contacts-block {
	//
	.overlay {
		background-color: $bg-dark;
		background-position: calc(100% + 30px) 0%;
		// background-position: 100% top;
		background-repeat: no-repeat;
		background-size: 50% 100%;

		// background-image: linear-gradient(rgba(#191c26, 0.9), rgba(#191c26, 0.9)),
		// 	url("../images/jpeg/contacts/bg.jpg");

		// $linear-gradient-color,	$path, 	$filename, 	$extension: jpg
		@include bg-img-retina-2x-3x-w-gradient(
			rgba(#191c26, 0.9),
			images/webp/contacts,
			bg,
			webp
		);
	}

	.container {
		display: flex;
		gap: $regular-gap;
	}
}

section.online-booking,
section.contacts {
	width: 50%;
	flex-basis: fill;
	// outline: auto;
}

/* ---------- Online-booking (left block) ---------- */

section.online-booking {
	@extend .dark;

	display: flex;
	flex-direction: column;
	gap: $large-spacing;
}

.booking-form {
	display: flex;
	flex-direction: column;
	gap: $large-spacing;
}

.text-fields {
	display: flex;
	// flex-direction: column;
	// gap: $large-spacing;
	flex-wrap: wrap;
	column-gap: $regular-gap;
	row-gap: $large-spacing;
}

.text-field-wrapper {
	position: relative;
	color: rgba($light, 0.4);

	width: 100%;

	&.half-sized {
		width: calc((100% - $regular-gap) / 2);
	}

	&:hover,
	&:focus {
		color: $contrast;
	}
}

.text-field {
	width: 100%;
	height: 100%;
	min-height: 24px;

	font-size: inherit;
	font-family: "Open Sans";

	background-color: inherit;
	color: $light;

	border: none;
	border-bottom: 1px solid currentColor;

	transition: border-color $transition-duration $transition-timing-function;

	&:hover,
	&:focus {
		border-color: $contrast;
	}
}

.hovering-label {
	font-family: "Open Sans";
	font-weight: 600;
	// font-size: 11px;
	// line-height: calc(15 / 11);
	@include fz-lh-rem(11, 15);
	letter-spacing: 0.1em;
	text-transform: uppercase;

	position: absolute;
	top: 0;
	left: 0;

	transition: color $transition-duration $transition-timing-function,
		transform $transition-duration $transition-timing-function;

	.text-field:focus + &,
	.text-field:not(:placeholder-shown) + & {
		// transform: translateY(-20px);
		transform: translateY(-1.4em);
		color: $contrast;
	}

	.text-field:required + &::after {
		content: "*";
	}
}

.message-field {
	resize: none;
}

/* ---------- Contacts (right block) ---------- */

section.contacts {
	@extend .dark;
	padding-left: 100px;

	.sup-heading {
		color: $contrast;
	}
}

.contacts-list {
	@extend .markup-list;

	margin-top: 40px;
	margin-bottom: 70px;

	display: flex;
	flex-direction: column;
	gap: $single-spacing;
}

.contacts-item {
	line-height: calc(30 / 18);
}

.contacts-link {
	@extend .link;

	// font-size: 18px;
	font-size: rem-calc(18);
	font-weight: 400;

	display: flex;
	align-items: center;
	gap: 16px;

	color: $light;

	&.address-link {
		font-weight: 700;
	}

	&.email-link {
		text-decoration-line: underline;
	}
}

.contacts-icon {
	@extend .icon;

	fill: transparent;
	stroke: currentColor;
}

.contacts-item:first-child .contacts-icon {
	transform: translateY(-13px);
}

.working-hours {
	color: $light;
}

/* ---------- Footer ---------- */

.footer {
	padding: 56px 215px;
	color: $light;
	font-weight: 600;
	// font-size: 11px;
	// line-height: calc(15 / 11);
	@include fz-lh-rem(11, 15);
}

/* ---------- Modal window ---------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-backdrop;

	width: 100%;
	height: 100%;

	background-color: rgba(#111319, 0.4);
	backdrop-filter: blur(2px);

	transition: opacity $transition-duration $transition-timing-function,
		visibility $transition-duration $transition-timing-function;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 400px;
	min-height: 500px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px darkgray;

	background-color: $bg-default;
}

.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;

	width: 32px;
	height: 32px;

	border: 1px solid $darker;
	border-radius: 50%;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
}
