/* Colors */
$accent: #FF6C00;
$contrast: #fff;

$dark: #555555;
$darker: #303030;
$light: #9DA4BD;

$light-transp: rgba(157, 164, 189, 0.6);
$price-leader: rgba(157, 164, 189, 0.12);

$bg-default: #fff;
$bg-dark: #191C26;
$bg-light: #F7F7F7;

/* Flex gap values */
$regular-gap: 30px;
$regular-spacing: 20px;
$large-spacing: 44px;
$list-spacing: 10px;
$list-icon-spacing: 16px;

/* Variables for flex-basis calculation */
$items-per-row: 3;
$spacing: $regular-gap;
$number-of-gaps: $items-per-row - 1;

/* Positioning */
$z-header: 1;
$z-backdrop: 10;
$z-modal: 100;

/* SVG */
$icon-inactive: #000;

/* Transitions */
$transition-duration: 300ms;
$transition-timing-function: ease-out;