@import "../../_sass/normalize";
@import "variables";
@import "../../_sass/utilities";
@import "animations";

/* ---------- Common ---------- */

:root {
	font-family: "Open Sans", sans-serif;
}

body {
	font-size: 18px;
	line-height: calc(30/18);
	letter-spacing: 0.02em;
	background-color: $bg-default;
}

.container {
	$padding: 15px;

	width: calc(1170px + $padding*2);
	padding-left: $padding;
	padding-right: $padding;
	margin-left: auto;
	margin-right: auto;
}

.bg-dark {
	background-color: $bg-dark;
}

/* Flex gap values */

.flex {
	gap: $regular-gap;
}

.zero-gap {
	gap: 0;
}

/* ---------- Links ---------- */


.link {
	font-weight: 600;
	font-size: 16px;
	color: $darker;

	transition: color $transition-duration $transition-timing-function;

	.header & {
		color: $contrast;
	}

	.contacts-list & {
		color: $light;
	}

	&:hover,
	&:focus {
		color: $accent;
	}
}

.follow-us {
	color: $darker;
}

.follow-us .link,
.copyright {
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
	letter-spacing: 0.2em;
}

/* ---------- Buttons ---------- */

.button {
	letter-spacing: 0.09em;
	text-transform: uppercase;

	border: 1px solid $accent;
	border-radius: 25px;

	min-width: 160px;
	padding: 12px 20px;

	color: $darker;
	background-color: transparent;

	transition:
		color $transition-duration $transition-timing-function,
		background-color $transition-duration $transition-timing-function;

	&:hover,
	&:focus {
		color: $contrast;
		background-color: $accent;
	}

	.dark & {
		color: $contrast;
	}
}

/* ---------- Headings ---------- */

.title {
	font-family: 'Raleway';
	font-weight: 700;
	letter-spacing: 0.05em;
	color: $darker;

	.dark & {
		color: $contrast;
	}
}

h1.title {
	font-size: 72px;
	line-height: calc(85/72);
}

h2.title {
	font-size: 42px;
	line-height: calc(49/42);
}

.sup-heading {
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
	text-transform: uppercase;
	color: $darker;

	.dark & {
		color: $light-transp;
	}

	.contacts & {
		color: $contrast;
	}
}

/* Thin line before sup-headings and follow-us links in hero sidebar) */

.prefix {
	display: flex;

	&::before {
		content: '';
		width: 60px;
		margin-right: $regular-spacing;

		background: linear-gradient(to right, currentColor, currentColor);

		background-size: 100% 1px;
		background-position: 0% 51%;
		background-repeat: repeat-x;
	}
}

/* White "sidebar" in header and hero */

.sidebar {
	// background-color: #fff;
	color: $darker;
	width: 100px;
	color: $dark;
	// outline: auto;
}

/* ---------- Header ---------- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-header;

	width: 100%;
	// padding-right: 17px;
	// padding-top: 40px;
	// padding-bottom: 20px;
	padding: 40px 17px 20px 0;

	&.no-transparency {

		// background-color: $bg-dark;
		background-color: rgba(17, 19, 25, 0.8);
		backdrop-filter: blur(3px);

		& .icon-logo {
			fill: $contrast;
		}
	}
}

// .header-main {
// 	padding-left: 100px;
// 	padding-right: 17px;
// 	// width: 100%;
// 	flex-grow: 1;
// 	outline: auto;
// }

/* ---------- Hero ---------- */

.hero {
	height: 680px;
	// gap: 0;
	color: $light;

	.sup-heading {
		animation: top-to-bottom 1000ms ease 100ms both;
	}

	h1 {
		animation: left-to-right 1000ms ease 1200ms both;
	}

	.sub-heading {
		animation: bottom-to-top 1000ms ease 2200ms both;
	}
}

.hero-sidebar {
	padding: 32px 31px 40px 0;
}

.sidebar-content {
	width: 69px;
	height: 100%;
	padding-bottom: 120px;
}

.vertical {
	transform: rotate(-90deg);
}

.hero-main {
	// width: 1070px;
	flex-grow: 1;
	gap: 184px;
	position: relative;

	padding: 0 20px 40px 100px;

	background-color: $dark;
	background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../img/slider/slider-img3.jpg');
	background-size: cover;
	background-position: center;
}

// Slider

.slider-pagination {
	position: absolute;
	top: calc(50% - 15px);
	right: 20px;

	// margin-left: auto;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 12px;
}

.slider-pagination-item {
	width: 8px;
	height: 2px;
	background-color: currentColor;

	&.active {
		width: 18px;
		background-color: $contrast;
	}
}

.slider-buttons {
	position: absolute;
	bottom: 40px;
	right: 20px;

	display: flex;
	gap: 24px;
}


.slider-btn {
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
	letter-spacing: 0.1em;

	color: $contrast;
	background-color: transparent;

	width: 60px;
	padding-bottom: 8px;
	border: none;
	border-bottom: 1px solid currentColor;

	// transition:
	// 	color $transition-duration $transition-timing-function;

	// &:hover,
	// &:focus {
	// 	color: $contrast;
	// }

	&.prev {
		text-align: left;
	}

	&.next {
		text-align: right;
	}

	&[disabled] {
		color: $light-transp;
		// cursor: not-allowed;
		cursor: auto;
	}
}


/* ---------- Sections other than Hero ---------- */

.section {
	// padding: 120px 215px;
	padding-top: 120px;
	padding-bottom: 120px;

	&.dark {
		color: $dark;
	}

	&.light {
		color: $light;
	}

	&.with-overlay {
		padding: 0px;
	}
}

.overlay {
	max-width: 1600px;
	// height: 600px;
	// height: 100%;
	margin: 0 auto;
}

/* ---------- About ---------- */

.description {
	font-size: 14px;
	line-height: calc(26/14);

	/* Additional margin */
	margin-bottom: calc(42px - 20px);
	color: $dark;
}

/* ---------- Services and prices ---------- */

.overlay-services {
	// padding: 120px 215px;
	padding-top: 120px;
	padding-bottom: 120px;
	margin: 0 auto;

	background-color: $bg-dark;
	background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url('../img/services-and-prices.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* ---------- Price-list ---------- */

.price-list-wrapper {
	/* https://stackoverflow.com/questions/43726696/splitting-list-of-items-in-two-columns-with-css */

	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
	column-gap: 30px;

	background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%), linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
	background-repeat: no-repeat;
	background-position: left, right;
	background-size: 570px 100%, 570px 100%;

	padding-top: 30px;
	padding-bottom: 30px;
}

.price-list {
	color: $light;

	& li {
		margin: 0 20px;
		display: flex;
		gap: $list-spacing;
		align-items: baseline;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.price-leader {
	background-color: $price-leader;
	height: 1px;

	flex-grow: 1;
}

/* ---------- Why us ---------- */

.stat {
	width: 170px;
	height: 133px;
	text-align: center;
	padding: 20px 24px;
	color: $darker;
	background-color: $bg-light;

	&:nth-child(odd) {
		margin-top: -30px;
	}
}

.stat-number {
	font-weight: 700;
	font-size: 42px;
	line-height: calc(57/42);
	letter-spacing: 0.05em;
	margin-bottom: 6px;

	&:after {
		content: "+";
		font-size: 16px;
		color: $accent;
		vertical-align: top;
	}
}

.stat-name {
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
}

/* ---------- Our barbers ---------- */

.barbers {
	background-color: $bg-light;
}

.team-card {
	text-align: center;
}

.name {
	line-height: calc(25/18);
	margin-bottom: 8px;
	color: $darker;
}

.position {
	font-size: 14px;
	line-height: calc(19/14);
	color: $accent;
}

// Social media links block in each team card

.social-links {
	margin-top: $regular-gap;
	gap: $list-spacing;
}

/* Social media links */

.social-link {
	color: $darker;
	background-color: $contrast;
	height: 44px;
	width: 44px;
	// border: none;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover,
	&:focus {
		color: $accent;
	}
}

/* SVG icons */

.icon {
	// display: block;
	fill: currentColor;
	// transition: fill $transition-duration $transition-timing-function;

	&.icon-logo {
		fill: $darker;
	}

	.contacts & {
		fill: transparent;
		stroke: currentColor;
	}
}

.rotatable {
	transition: transform 200ms ease-in-out 10ms;

	.w-transformable-icon:hover &,
	.w-transformable-icon:focus & {
		transform: rotate(360deg);
		// animation: iconScroll 2500ms;
	}
}

/* ---------- Contact us ---------- */

.overlay-contacts {
	background-color: $bg-dark;
	background-image: linear-gradient(rgba(25, 28, 38, 0.9), rgba(25, 28, 38, 0.9)), url("../img/contacts/bg.jpg");
	background-position: right;
	background-repeat: no-repeat;
	// background-size: contain;
}

.contacts-container {
	padding-top: 130px;
	padding-bottom: 120px;
	// margin-top: 130px;
	// 	margin-bottom: 120px;
}

.half-sized {
	width: 50%;
}

/* Left block - Online-booking */

.text-fields {
	display: flex;
	flex-direction: column;
	gap: $large-spacing;
}

.text-field-wrapper {
	position: relative;
	color: rgba(157, 164, 189, 0.4);

	&:hover,
	&:focus {
		color: $contrast;
	}
}

.narrow {
	height: 30px;
	flex-grow: 1;
}

.text-field {
	width: 100%;
	height: 100%;

	font-size: inherit;
	background-color: inherit;
	color: currentColor;

	border: none;
	border-bottom: 1px solid currentColor;

	transition:
		border-color $transition-duration $transition-timing-function;

	&:hover,
	&:focus {
		border-color: $contrast;
	}
}

.hovering-label {
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
	letter-spacing: 0.1em;
	text-transform: uppercase;

	position: absolute;
	top: 0;
	left: 0;

	transition:
		color $transition-duration $transition-timing-function,
		transform $transition-duration $transition-timing-function;

	.text-field:focus+&,
	.text-field:not(:placeholder-shown)+& {
		transform: translateY(-20px);
		color: $contrast;
	}
}

.starred::after {
	content: '*';
}

.message-field {
	resize: none;
}

/* Right block - Contacts */

.contacts {
	padding-left: 100px;
	color: $light;
}

.contacts-list {
	margin-top: 40px;
	margin-bottom: 70px;
	// margin-left: 43px;

	& li {
		line-height: calc(30/18);
		// position: relative;
	}
}

.contacts-list li::marker {
	// outline: 1px solid beige;
	background-image: url("../img/icons/symbol-defs.svg#icon-map-pin");

}

.contacts-link {
	font-size: 18px;
	font-weight: 400;

	display: flex;
	// outline: auto;
	align-items: center;
	gap: $list-icon-spacing;
}

.address-link {
	font-weight: 700;
}

.email-link {
	text-decoration-line: underline;
}

// .address::before {
// 	content: url('../img/icons/symbol-defs.svg#icon-map-pin');

// }

// .telephone::before {
// 	content: url('../img/contacts-icons/phone.png');
// }

// .email::before {
// 	content: url('../img/contacts-icons/mail.png');
// }

/* ---------- Footer ---------- */

.footer {
	padding: 56px 215px;
	color: $light;
	font-weight: 600;
	font-size: 11px;
	line-height: calc(15/11);
}

/* ---------- Modal window ---------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-backdrop;

	width: 100%;
	height: 100%;

	background-color: rgba(17, 19, 25, 0.4);
	backdrop-filter: blur(2px);

	transition:
		opacity $transition-duration $transition-timing-function,
		visibility $transition-duration $transition-timing-function;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	width: 400px;
	min-height: 500px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px darkgray;

	background-color: $bg-default;

}

.modal-close-button {
	position: absolute;
	top: 10px;
	right: 10px;

	width: 32px;
	height: 32px;

	border: 1px solid $darker;
	border-radius: 50%;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
}