/* ---------- Footer ---------- */

.footer {
	color: $light;
	font-weight: 600;
	// font-size: 11px;
	// line-height: calc(15 / 11);
	@include fz-lh-rem(11, 15);

	.container {
		display: flex;
		justify-content: space-between;

		padding-top: 56px;
		padding-bottom: 56px;

		@include media(tablet, max) {
			flex-direction: column-reverse;
			gap: $single-spacing;

			padding-top: $large-spacing;
			padding-bottom: $large-spacing;
		}
	}

	.follow-us {
		@include media(tablet, max) {
			margin-left: auto;
		}
	}
}
